<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <style>
      body {
        background-color: #17171f;
        background-repeat: repeat;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #ffffff;
        padding: 20px;
      }
      h1 {
        font-size: 24px;
        color: white;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h1>{{heading}}</h1>
    <p>{{text}}</p>
  </body>
</html>
